:root {
  --Dark_Desaturated_Blue: #293356; /*Text & CTA Background*/
  --Grayish_Blue: #858fad; /* (Text*/
  --Light_Grayish_Blue: #eaeefb; /*Empty Slider Bar*/
  --Light_Grayish_Blue: #cdd7ee; /*Toggle Background*/
  --Ligh_Grayish_Red: #feece7; /*Discount Background*/
  --Light_Red: #ff8c66; /*Discount Text*/
  --Pale_Blue: #bdccff; /*CTA Text*/
  --Soft_Cyan: #a5f3eb; /*Full Slider Bar*/
  --Strong_Cyan: #10d5c2; /*Slider Backround*/
  --Very_Pale_Blue: #fafbff; /*Main Background*/
  --White: #ffffff; /*Pricing Component Background*/
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body {
  font-family: "Manrope", sans-serif;
  height: 100%;
  scroll-behavior: smooth;
}
